<style>
    #main {
        display: none;
        margin:auto;
    }

    #zoneJeu {
        display: none;
    }

    #zoneVote {
        display: none;
    }

    #zonePublic {
        display: none;
    }

    #bsubmitDemmarerPartie {
        display: none;
    }

    .tab-pane {
        height: 300px;
        overflow-y: scroll;
        width: 100%;
    }

    #bEnvoyer{
        margin-left: 10px;
    }

</style>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-title" id="exampleModalLabel"><h2 style="color:black;">Saisissez votre alias :</h2></div>
            </div>
            <div class="modal-body">
                <div class="row stuff-after-jumbo " id="login">
                    <div class="col-md-8">
                        <input type="text" id="alias" class="form-control" />
                        <div id="reponse1"></div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="bConnecter" value="Se connecter" class="btn btn-primary" data-dismiss="modal" disabled/>
            </div>
        </div>
    </div>
</div>


<div id="overlay">
    <div class="jumbotron container-fluid">
        <h1 class="text-center">Fun Zone</h1>
    </div>

    <div class="row stuff-after-jumbo " id="main">
        <!--ROW USERNAME-->
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <span class="glyphicon glyphicon-user"></span>
                    <span id="sAlias"></span>
                </h4>
                <input type="button" id="bFermer" value="Se déconnecter" class="btn btn-warning btn-xs" />
            </div>
        </div>
        <hr>
        <!--ROW EVERYTHING-->
        <div class="col-sm-4">
            <h3>Connectés</h3>
            <ol id="connectes"></ol>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <h2>Code de la partie:</h2>
                <input type="text" id="numeroLobby" class="form-control" />
                <button type="button" id="bConnecterLobby" value="Joindre salle de jeux" class="btn btn-primary">Joindre salle de jeux</button>
            </div>
            <br>
            <div class="row" id="zoneAttente">
                <button type="button" class="btn btn-success " id="bsubmitDemmarerPartie" value="CommencerPartie">Commencer Partie</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4">
                    <h1>Chat:</h1>
                </div>
                <div class="panel panel-default tab-pane" id="chatBox">
                    <div class=panel-heading>
                        <h2 class="panel-title">Zone de chat :</h2>
                    </div>
                    <div class="panel-body">
                        <div id="zoneChat"></div>
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <input type="text" id="message" class="form-control" />
                        <span class="input-group-btn">
                            <input type="button" id="bEnvoyer" value="Envoyer" class="btn btn-primary" />
                        </span>
                        <div id="reponse"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row stuff-after-jumbo">
        <div class="col-md-12" id="zoneJeu">
            <h3>Créez la meilleure phrase possible!!!</h3>
            <div id="phrase">
                <h1 id="phrase1"></h1><br />
                <div class="input-group input-group-lg">
                    <input type="text" id="phrasefinale" class="form-control input-lg" />
                    <br />
                    <button class="btn btn-block btn-primary btn-lg" type="button" id="bsubmitPhrase" value="Envoyer Phrase">Envoyer Phrase</button>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12" id="zonePublic">
        <h3>Zone Public</h3>
        <div id="score"></div>
    </div>
    <div class="col-md-12" id="zoneVote">
        <ul id="votes" class="list-group"></ul>
    </div>
</div>
<script>
/////////////////////SCRIPTS
    $(document).ready(function () {
        $('#exampleModal').modal()
    });

    $("#alias").change(function () {
        var als = $("#alias").val();
        if (!(als == "")) {
            document.getElementById("bConnecter").disabled = false;
        }
        if (als == "") {
            document.getElementById("bConnecter").disabled = true;
        }
    });

    function ajouterConnecte(nom) {
        document.getElementById('connectes').innerHTML += "<li class='membre' id='" + nom + "'>" + nom + "</li>";
    }
    function enleverConnecte(nom) {
        document.getElementById(nom).style['display'] = 'none';
    }

    function envoyerChat(contenu) {
        var msg = {
            Categorie: "MESSAGE", Type: "CHAT", Data: contenu
        };
        if (webSocket != null) {
            webSocket.send(JSON.stringify(msg));
        }
    }

    function afficherPublic() {
        document.getElementById('zonePublic').style['display'] = 'block';
    }

    function prochaineRonde(phraseACompleter) {
        document.getElementById('zoneJeu').style['display'] = "block";
        document.getElementById('bsubmitPhrase').disabled = false;
        document.getElementById("phrasefinale").innerHTML = phraseACompleter;
    }

    function attente() {
        document.getElementById('zoneJeu').style['display'] = "none";
    }

    function cacherTouteZone() {
        document.getElementById('zoneJeu').style['display'] = "none";
        document.getElementById('main').style['display'] = "none";
    }

    function envoyerPhrase(contenu) {
        document.getElementById('zoneJeu').style['display'] = "none";

        var msg = {
            Categorie: "JEU", Type: "GAME", Data: contenu
        }
        if (webSocket != null) {
            webSocket.send(JSON.stringify(msg));
        }
    }

    function voterPourPhrase(id) {
        document.getElementById('zoneVote').style['display'] = "none";
        console.log(id)
        var msg = {
            Categorie: "JEU", Type: "VOTE", Data: id
        }
        if (webSocket != null) {
            webSocket.send(JSON.stringify(msg));
        }

    }

    document.getElementById('bConnecterLobby').onclick = function () {
        actionConnexionLobby();
    }

    document.getElementById("numeroLobby").onkeyup = function (e) {
        if (e.keyCode == 13) {
            actionConnexionLobby();
        }
    }

    function actionConnexionLobby() {
        document.getElementById('bConnecterLobby').disabled = true;
        document.getElementById("numeroLobby").disabled = true;

        var msg = {
            Categorie: "CONNECTE", Type: "PARTIE", Data: document.getElementById('numeroLobby').value
        }
        if (webSocket != null) {
            webSocket.send(JSON.stringify(msg));
        }
    }
        document.getElementById('bsubmitPhrase').onclick = function () {
            document.getElementById('bsubmitPhrase').disabled = true;
            document.getElementById('zoneJeu').style['display'] = "none";
            var finalString = document.getElementById('phrase1').innerHTML +" "+ document.getElementById('phrasefinale').value;
            document.getElementById('phrasefinale').value = ""
            envoyerPhrase(finalString);
        }

    document.getElementById('bEnvoyer').onclick = function () {
        actionEnvoiDeMessage();
    }
    document.getElementById('message').onkeyup = function (e) {
        if (e.keyCode == 13) {
            actionEnvoiDeMessage();
        }
    }

    function actionEnvoiDeMessage() {
        envoyerChat(document.getElementById('message').value);
        var objDiv = document.getElementById('chatBox');
        objDiv.scrollTop = objDiv.scrollHeight;
        document.getElementById('message').value = '';
    }

    document.getElementById('bsubmitDemmarerPartie').onclick = function () {
        document.getElementById('bsubmitPhrase').disabled = true;
        var msg = {
            Categorie: "JEU", Type: "DEMARRER", Data: ""
        }
        if (webSocket != null) {
            webSocket.send(JSON.stringify(msg));
        }
    }


    document.getElementById('bFermer').onclick = function () {
        if (webSocket != null) {
            webSocket.close(1000, JSON.stringify({ Categorie: "CONNECTE", Type: "QUIT", Data: alias }));
            webSocket = null;
        }
    }

    /////////////////////////
    var webSocket = null;
    var alias = null;
    var partieTerminee = false;
    var message = { Categorie: null, Type: null, Data: null };

    function socketManager() {
        if (webSocket == null) {
            alias = document.getElementById('alias').value;
            var URL = "ws://localhost:57339/api/websocket/" + alias;
            webSocket = new WebSocket(URL);
            webSocket.onopen = function () {
                document.getElementById('login').style['display'] = "none";
                document.getElementById('main').style['display'] = "block";
                document.getElementById('sAlias').innerHTML = alias;
            }
            webSocket.onclose = function (event) {
                document.getElementById('login').style['display'] = "block";
                document.getElementById('main').style['display'] = "none";
            }
            webSocket.onerror = function (event) {
            }

            webSocket.onmessage = function (event) {
                var msg = JSON.parse(event.data);

                switch (msg.Categorie) {
                    /**
                     *Lorsque un joueur se connecte,déconnecte ou joins un partie
                     */
                    case "CONNECTE":
                        switch (msg.Type) {
                            case "PREMIERJOUEUR":
                                document.getElementById('bsubmitDemmarerPartie').style['display'] = "block";
                                document.getElementById('bsubmitDemmarerPartie').disabled = true;
                                break;
                            case "ADD":
                                ajouterConnecte(msg.Data);
                                break;
                            case "DEL":
                                enleverConnecte(msg.Data);
                                break;
                            case "LIST":
                                document.getElementById('connectes').innerHTML = '';
                                msg.Data.forEach((e) => { if (e != alias) ajouterConnecte(e); });
                                break;

                        }
                        break;
                    //Réception d'un message de chat
                    case "MESSAGE":
                        document.getElementById('zoneChat').innerHTML += msg.Data + "<br />";
                        //Déroulement du jeu
                    case "JEU":
                        switch (msg.Type) {
                            //Lorsque la partie commence
                            case "START":
                                console.log(msg.Data);
                                var partie = msg.Data;
                                partieTerminee = false;
                                cacherTouteZone();
                                document.getElementById('bsubmitPhrase').disabled = false;
                                document.getElementById('zoneJeu').style['display'] = "block";
                                document.getElementById('phrase1').innerHTML = partie.PhraseACompleter;
                                break;
                            //Lorsque la pronchaine ronde doit commencer
                            case "NEXTROUND":
                                prochaineRonde(msg.Data)
                                break;
                            //Lorsque la phase de vote commence
                            case "PHASEVOTE":
                                document.getElementById('votes').innerHTML = "";
                                var phrases = msg.Data;
                                for (var key in phrases) {
                                    if (key != alias) {
                                        document.getElementById('votes').innerHTML += "<li class='membre' id='vt_" + key + "' onclick='voterPourPhrase(" + key  + ")' >" + phrases[key] + "</li>";
                                        console.log("before: " + key);

                                    }
                                }
                                document.getElementById('zoneVote').style['display'] = "block";
                                break;
                            //permet au joueur de pouvoir commencer la parite en activant son bouton
                            case "PEUTCOMMENCERLOBBY":
                                document.getElementById('bsubmitDemmarerPartie').disabled = false;
                                break;
                        }
                        break;
                    //Lorsque le public reçois des messages
                    case "PUBLIC":
                        switch (msg.Type) {
                            //Afficher le layout pour le public
                            case "START":
                                afficherPublic();
                                cacherTouteZone();
                                break;
                            //Afficher le score de la partie
                        }
                        break;
                }
            }
        }
    }

    document.getElementById('bConnecter').onclick = function () {
        socketManager();
    };

    document.getElementById('bConnecter').onkeydown = function (e) {
        if (e.keyCode == 13) {
            socketManager();
        }
    };
</script>
